.page {
    --gray-rgb: 0, 0, 0;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;

    width: 100%;
    font-family: var(--font-title);
}
@media (prefers-color-scheme: dark) {
    .page {
        --gray-rgb: 255, 255, 255;
        --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
        --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

        --button-primary-hover: #ccc;
        --button-secondary-hover: #1a1a1a;
    }
}
.main {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.mainPage {
}
.catalogCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.titles {
    display: flex;
    justify-content: space-between;
    padding: 39px 0 54px 0;
    align-items: center;
}
.text {
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    text-transform: capitalize;
    color: var(--light);
}
@media (max-width: 765px) {
    .catalogCard {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
    .text {
        font-weight: 400;
        font-size: 14px;
        line-height: 157%;
    }
    .titles {
        padding: 21px 0;
    }
}
@media (max-width: 600px) {
    .page {
      padding: 32px 0 80px 0;
    }
    .main {
        align-items: center;
    }
    .footer {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

