.button {
    max-width: 500px;
    height: 40px;
    cursor: pointer;
}

.black {
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--white);
    transition: all 0.3s ease;
}

.black:hover{
    background-color: var(--white);
    color: var(--white);
}

.white {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
    transition: all 0.3s ease;
}

.white:hover{
    background-color: var(--black);
    color: var(--white);
}


