.footer {
    width: 100%;
    background: var(--white);
    padding: 90px 96px;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1248px;
    border-top: 1px solid var(--background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    gap: 40px;
}

.links {
    display: flex;
    justify-content: space-between;
}

.linkCopy {
    display: flex;
    gap: 29px;
    padding-top: 15px;
}

.links a:hover {
    color: #000;
}

.info {
    font-weight: 400;
    font-size: 16px;
    line-height: 169%;
    color: var(--dark-grey);
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.2s ease;
}

.copy {
    font-size: 14px;
    color: var(--black);
}

.copy span {
    font-weight: 600;
    color: var(--black);
}

.right {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.rowInput {
    margin-top: 15px;
}

.sendButton {
    border: none;
}

.topRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.bottomRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.emailInput {
    min-width: 396px;
}

.socials {
    display: flex;
    gap: 16px;
}

.socials a svg {
    width: 20px;
    height: 20px;
    fill: var(--dark-grey);
    transition: transform 0.2s ease, fill 0.2s ease;
}

.socials a:hover svg {
    transform: scale(1.1);
    fill: var(--black);
}

@media (max-width: 480px) {
    .footer {
        padding: 60px 20px;
    }

    .container {
        flex-direction: column;
        /*
               align-items: flex-start;
               text-align: center;
               gap: 36px;
               border-top: none;
           }
           .linkCopy {
               order: 1;
               flex-direction: column;
               align-items: flex-start;
               font-weight: 400;
               font-size: 12px;
               padding: 0;
               gap: 8px;
           }
           .links {
               order: 2;
               flex-direction: column;
               align-items: flex-start;
               /*gap: 0;*/
    }

    .info {
        font-size: 14px;
    }

    .socials {
        order: 3;
        justify-content: center;
        padding-top: 20px;
    }

    .right {
        order: 4;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .rowInput {
        justify-content: center;
        border-bottom: 1px solid var(--black);
        width: 100%;
        margin-bottom: 21px;
    }

    .emailInput {
        width: 100%;
        text-align: center;
    }

    .copy {
        /*margin-top: 25px;*/
    }
}

@media (max-width: 768px) {
    .footer {
        padding: 20px 20px;
    }

    .container {
        flex-direction: column;
        /*
               align-items: flex-start;
               text-align: center;
               gap: 36px;
               border-top: none;
           }
           .linkCopy {
               order: 1;
               flex-direction: column;
               align-items: flex-start;
           }
           .links {
               order: 2;
               flex-direction: column;
               align-items: flex-start;
               /*gap: 0;*/
    }

    .socials {
        order: 3;
        justify-content: center;
        padding-top: 20px;
    }

    .right {
        order: 4;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
}

@media (max-width: 1440px) {
    .footer {
        padding: 20px 20px;
    }

    .info {
        font-weight: 400;
        font-size: 13px;
        line-height: 169%;
        color: var(--dark-grey);
        text-transform: uppercase;
        text-decoration: none;
        transition: color 0.2s ease;
    }

    .emailInput {
        font-size: 13px;
    }

    .rowInput {
        padding-bottom: 5px;
    }
}