.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 32px;
}

.inputSearch {
    width: 100%;
    height: 100%;
    padding-left: 5px;
    transition: opacity 0.2s ease;
    z-index: 1;
}

.iconSearch {
    position: absolute;
    right: 12px;
    cursor: pointer;
    transition: opacity 0.2s ease;
    z-index: 2;
}

.header .inputSearch {
    background-color: var(--lite-white);
}