.slider {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 600px;
    overflow: hidden;
    border-radius: 8px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1;
    z-index: 1;
}

.overlay {
    position: absolute;
    bottom: 30%;
    left: 10%;
    color: white;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.overlay h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.price {
    padding: 16px 0 48px 0;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.button {
    display: inline-block;
    width: 193px;
    height: 53px;
    background-color: var(--lite-white);
    padding: 12px 24px;
    border: 2px solid var(--white);
    border-radius: 4px;
    color: white;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.button:hover {
    background-color: var(--lite-white);
}

.dots {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.dot {
    width: 12px;
    height: 12px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
}

.activeDot {
    background: white;
}

/*  Адаптив  */
@media (max-width: 1024px) {
    .slider {
        height: 500px;
    }

    .overlay h2 {
        font-size: 2rem;
    }

    .price {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    .slider {
        height: 400px;
        border-radius: 8px;
    }

    .overlay {
        bottom: 20%;
        left: 8%;
    }

    .overlay h2 {
        font-size: 1.8rem;
    }

    .price {
        font-size: 1.1rem;
        padding: 12px 0 32px 0;
    }

    .button {
        width: 160px;
        height: 45px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .slider {
        height: 320px;
    }

    .overlay {
        bottom: 15%;
        left: 5%;
        right: 5%;
        text-align: left;
    }

    .overlay h2 {
        font-size: 20px;
    }

    .price {
        font-size: 14px;
        padding: 0;
    }

    .button {
        width: 92px;
        height: 32px;
        font-size: 12px;
        padding: 0;
    }

    .dots {
        bottom: 10px;
    }
}
