.productCatalog {
    width: 100%;
    max-width: 1248px;
    margin: 0 auto;
    display: flex;
    gap: 24px;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
    width: 100%;
}

.contentCatalog {
    display: flex;
    flex-direction: column;
    gap: 39px;
}

@media (max-width: 768px) {
    .contentCatalog {
        display: none;
    }

    .catalog {
        flex: 1;
        min-width: 0;
    }
}