.select {
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    width: 100%;
    height: 53px;
    font-weight: 400;
    padding: 16px 0 16px 12px;
    font-size: 14px;
    line-height: 157%;
    color: var(--black); /*font-family: var(--font-text);*/ }
.custom {
    display: flex;
    align-items: center;
    justify-content: space-between;
} /* Контейнер переключателя */
.switch {
    position: relative;
    width: 46px;
    height: 26px;
    background: var(--dark-grey);
    border-radius: 9999px;
    transition: background 0.3s ease;
    cursor: pointer;
    outline: none; /* убирает стандартный outline */ } /* Активное состояние */
.switch.active {
    background: var(--dark-grey);
    outline: none; /* на всякий случай */
    box-shadow: none; /* если браузер делает glow-эффект */ }
.productCatalog {
    width: 100%;
    max-width: 1248px; /* такая же ширина, как в Header */
    margin: 0 auto; /* центрирует по горизонтали */
    display: flex;
    gap: 24px;
}
.catalog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 24px; width: 100%; }
.contentCatalog {
    display: flex;
    flex-direction: column;
    gap: 39px; }
.contentInput {
    border-bottom: 1px solid var(--lite-white); } /* Круглый ползунок */
.thumb {
    position: absolute;
    top: 1px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    transition: transform 0.3s ease; } /* Перемещение при включении */
.switch.active .thumb {
    transform: translateX(20px); } /* Подпись */
.label {
    font-weight: 400;
    font-size: 16px;
    line-height: 169%;
    color: var(--black);
    user-select: none; }
@media (max-width: 768px) {
    .contentCatalog {
        display: none;
    } .catalog { flex: 1; /* занимает оставшееся место */ min-width: 0; /* предотвращает переполнение */
          }
}