.h1 {
    font-weight: 500;
    font-size: 33px;
    line-height: 130%;
}

.h2 {
    font-weight: 400;
    font-size: 26px;
    line-height: 135%;
    margin-top: 50px;
    margin-bottom: 25px;
}

.h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 130px;
    margin: 0;
}

@media (max-width: 765px) {
    .h1 {
        font-weight: 400;
        font-size: 16px;
        line-height: 169%;
    }
    .h3 {
        font-size: 14px;
    }
}
