.navSection {
    display: flex;
    gap: 59px;

}

.linkSection {
    position: relative;
    padding: 20px 0 20px 0;
    color: var(--black);
}

.active {
    box-shadow: inset 0 -2px 0 var(--black);
}

