.productCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
    overflow: hidden;
}

.homeCard .productImage {
    aspect-ratio: 1 / 1;
}

.catalogCard .productImage {
    aspect-ratio: 1 / 1;
}

.productCard:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

.productImage {
    position: relative;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    z-index: 1;
    border-radius: 8px;
}

.productImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productActions {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background: rgba(255, 255, 255, 0.6);

    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
    z-index: 2;
    color: #333;
}

.productCard:hover .productActions {
    opacity: 1;
}

.productActions:hover {
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
}

.soldOut, .productImage {
    opacity: 0.6;
}

.productInfo {
    align-items: flex-start;
    text-align: left;


    padding: 24px 0;

    display: flex;
    flex-direction: column;
    gap: 2px;
}

/* --- Модалка --- */
.modalBackdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    animation: fadeIn 0.2s ease;
}

.modalContent {
    background: #fff;
    border-radius: 20px;
    padding: 24px;
    max-width: 600px;
    width: 90%;
    position: relative;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    animation: scaleIn 0.25s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalClose {
    position: absolute;
    top: 12px;
    right: 12px;
    background: none;
    border: none;
    cursor: pointer;
}

.modalImageWrapper {
    width: 100%;
    text-align: center;
}

.modalImage {
    border-radius: 16px;
}

.modalInfo {
    text-align: center;
    margin-top: 16px;
}

.modalPrice {
    margin-top: 6px;
    display: flex;
    justify-content: center;
    gap: 8px;
    color: var(--light);
}

.addToCart {
    margin-top: 20px;
    background: #0070f3;
    color: var(--white);
    padding: 10px 24px;
    border-radius: 12px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.addToCart:hover {
    background: #005ac1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
