.productGallery {
    display: flex;
    gap: 24px;
    align-items: flex-start;
}

.previews {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.preview {
    border: 1px solid transparent;
    cursor: pointer;
    background: none;
}

.preview img {
    display: block;
    border-radius: 8px;

}

.mainImage {
    flex-shrink: 0;
}